<% include ../partials/header.ejs %>
<link href="/stylesheets/index.css" rel="stylesheet">

<main role="main" class="container">
  <h1 class="mt-5">ReadingList.xyz</h1>
  <p class="lead">The books you'll read!</p>
  <p>Please <a href="/auth/login">login</a> to use this service.</p>
</main>

<% include ../partials/footer.ejs %>
